* {
  overflow-x: hidden;
}
/* .drawing-board-wrapper {
  /* height: 90vh !important; */
  /* width: 80% !important; */
/* } */

/* .code-editor-wrapper {
  display: fixed;
  top: 5%;
  right: 0%;
}  */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}